{% extends "base.html" %}

{% block title %}Historial | ACME TRANS{% endblock %}

{% block content %}

<header class="admin-header">
  <h1>🕓 Historial de Solicitudes</h1>
</header>

<div class="contenedor-panel">
  <table class="tabla-solicitudes">
    <thead>
      <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Tipo de Carga</th>
        <th>Estado Final</th>
        <th>Motivo</th>
        <th>Fecha Cierre</th>
      </tr>
    </thead>

    <tbody>
      {% for s in solicitudes %}
      <tr>
        <td>{{ s.id_solicitud }}</td>
        <td>{{ s.nombre_cliente }}</td>
        <td>{{ s.tipo_carga }}</td>

        <td>
          <span class="estado {{ s.estado_final|lower|cut:" " }}">
            {{ s.estado_final }}
          </span>
        </td>

        <td>{{ s.motivo_cierre }}</td>
        <td>{{ s.fecha_cierre|date:"d/m/Y" }}</td>
      </tr>

      {% empty %}
      <tr>
        <td colspan="6" class="text-center">No hay solicitudes cerradas todavía.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
